<%- include("partials/header") %>


<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal">Visit Forums</h1>
      <p class="lead font-weight-normal">View and interact in forums with everyone, on a HUGE variety of subjects. Discuss, Chat, Debate and Share.</p>
      <a class="btn btn-secondary" href="/forums">Forums</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
  
  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Live Chat Rooms</h2>
        <p class="lead">Join one of our chat rooms, and live chat with anyone about anything!</p>
        <a class="btn btn-secondary" href="/livechat">Chat Rooms</a>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Open Calculator</h2>
        <p class="lead">Use our built in Calculator App! For studying, exams and more!</p>
        <a class="btn btn-secondary" href="/calculator">Open</a>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>
  
  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Check the Weather</h2>
        <p class="lead">Check the weather around you, or any location in the world!</p>
        <a class="btn btn-secondary" href="/landing">Weather</a>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Timer</h2>
        <p class="lead">Work on timing your exams and presentations or even just for keeping track of your revision!</p>
        <a class="btn btn-secondary" href="/timer">Open</a>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>
  













<%- include("partials/footer") %>